/*
	* doall Style Sheet
	* https://phoenix.sheridanc.on.ca/~ccit3678/
*/

/**
* Widget Style
*/

.widget-area .gridimage img{
	float: left;
	max-width: 15em;
	height: auto;
	margin: 2em;

}
.widget-area ul li a img{
	max-width: 15em;
	height: auto;

}

.widget-area img:hover{
	opacity: 0.4;
}

.widget-area ul.gridtitle{
	float: left;

}

.widget-area ul li a.gridtitle{
	float: left;
	max-width: 15em;
	height: auto;
	margin: 2em;
}

/**
* Shortcode Style
*/
.shortcode ul.oldpostlist{
	list-style-type: square;
}

.shortcode a{
	color: #ffffff;
}